@import './styles/style';

html,
body
  width 100%
  height 100%
  padding 0
  margin 0

  background-color baby-powder


.wrapper
  width 100%
  height 100%
  display flex
  flex  1 1 auto
  flex-direction column
  flex-wrap nowrap
  justify-content flex-start
  align-items stretch
  align-content stretch
  div
    margin 0