@import '../../css/styles/style';


.react-root
    flex 1 1

.main
    width 100%
    height 100%
    display flex
    flex 2
    background-color lighten(noc-blue, 5%)
    margin-top rem-calc(60px)
    padding-right rem-calc(30px)
    padding-left rem-calc(30px)
    padding-bottom rem-calc(60px)
    border 1px


.content,
.container
    flex 1 1
    flex-direction row
    justify-content flex-start
    align-items stretch
    align-content stretch
    margin 0 auto